[submodule "themes/even"]
	path = themes/even
#	url = git@github.com:princelai/hugo-theme-even.git
	url = https://github.com/princelai/hugo-theme-even.git
[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/princelai/LoveIt.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/princelai/hugo-PaperMod.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/princelai/hugo-theme-stack.git
